/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* _____________________________________ */

/* nav styles */

.main-navbar {
  background-color: black;
}

.main-logo__container {
  display: flex;
  justify-content: center;
}

.main-logo {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  filter: invert(100%);
}

.main-navbar__flex {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.main-navbar__list {
  color: white;
  cursor: pointer;
  border-bottom: 1px solid white;
}

.main-navbar__list:hover,
.main-navbar__list:focus {
}

.nav-links {
  text-decoration: none;
  color: white;
}

/* header styles */

.main-header__container {
  background-image: linear-gradient(180deg, black, #a9a3a300 20%),
    url(img/olivier-miche-wdOvQjyfUe8-unsplash.webp);
  background-size: cover;
  background-color: black;
  padding: 8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__header {
  color: white;
  background: transparent;
}

.main-header__subheader {
  color: white;
}

/* main styles */

main {
  background-color: hsla(60, 56%, 91%, 0.1);
  min-height: 100vh;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
}

.prices__text,
.about-us__text {
  text-align: center;
  padding: 1rem;
}

.about-us__section {
  margin-bottom: 3rem;
}

.about-us__gallery {
  display: grid;
  grid-row-gap: 3rem;
}

.single-photo {
  width: 100vw;
  height: auto;
  margin: 0 -1rem;
}

.prices__section {
}

.section__headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 -1rem 2rem;
  font-weight: 900;
  background-color: black;
  color: white;
  padding: 2rem 0 2rem;
}

/* price-cards styles*/

.membership-card {
  margin: 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.membership__headers {
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0.5rem;
}

.membership-price {
  text-transform: uppercase;
}

.hr {
  width: 70%;
}

/* contacts styles */

.contacts__section {
}

.address__section {
}

.address__headers {
  text-transform: uppercase;
  text-align: center;
}

.address__text {
  text-align: center;
  padding: 1rem 4rem 1rem;
}

/* footer styles */

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 3rem;
}

.social-media-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links {
  filter: invert(100%);
  opacity: 0.7;
}

.instagram {
  margin-right: 1rem;
}

.footer__text {
  text-align: center;
  color: white;
  opacity: 0.7;
}

.developed-by {
  color: white;
  font-weight: 700;
  text-decoration: underline;
  opacity: 0.7;
}
