/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* _____________________________________ */

/* nav styles */

.main-navbar {
  background-color: black;
}

.main-logo__container {
  display: flex;
  justify-content: center;
}

.main-logo {
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  filter: invert(100%);
}

.main-navbar__flex {
  display: flex;
  justify-content: space-evenly;
}

.main-navbar__links {
  color: white;
  cursor: pointer;
  padding-bottom: 1rem;
}

.main-navbar__links:hover,
.main-navbar__links:focus {
  text-decoration: underline dotted;
}

/* header styles */

.main-header__container {
  background-image: url('img/olivier-miche-wdOvQjyfUe8-unsplash.webp');
  background-size: cover;
  background-color: black;
  padding: 8rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header__header {
  color: white;
  background: transparent;
  backdrop-filter: blur(1000px);
}

.main-header__subheader {
  color: white;
}

/* main styles */

main {
  background-color: hsla(60, 56%, 91%, 0.1);
  min-height: 100vh;
  padding: 2rem 1rem;
}

.about-us {
  text-align: center;
}
